<header id="header">
  <div class="header_top">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav custom_nav">
            <li><a routerLink="content">Home</a></li>
            
            <li><a href="#">Country News</a></li>
            <li><a href="#">Contact</a></li>
            <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><a routerLink="business">Business</a></a><br>
                <a class="dropdown-item" href="#"><a routerLink="entertainment">Entertainment</a></a><br>
                <a class="dropdown-item" href="#"><a routerLink="general">General</a></a><br>
                <a class="dropdown-item" href="#"><a routerLink="health">Health</a></a><br>
                <a class="dropdown-item" href="#">Sports</a><br>
                <a class="dropdown-item" href="#">Science</a><br>
                <a class="dropdown-item" href="#">Technology</a><br>
              </div>
            </div>
          </li>              
          </ul>
        </div>
        
      </div>
    </nav>
    <div class="header_search">
      <button id="searchIcon"><i class="fa fa-search"></i></button>
      <div id="shide">
        <div id="search-hide">
          <form action="#">
            <input type="text" size="40" placeholder="Search here ...">
          </form>
          <button class="remove"><span><i class="fa fa-times"></i></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="header_bottom">
    <div class="logo_area"><a class="logo" href="#"><b>N</b>ewsGlobal <span>News from all over the world</span></a></div>
    <div class="top_addarea"><a href="#"><img src="assets/images/banner2.png" alt=""></a></div>
  </div>
</header>
