<div class="category_three_fourarea  wow fadeInDown">
    <div class="category_three">
      <div class="single_category">
        <div class="category_title"> <a href="assets/pages/single_page.html">Entertainment News</a></div>
        <div class="single_category_inner">
          <ul class="catg_nav catg_nav3">
            <li *ngFor="let news of entertainmentList">
              <div class="catgimg_container"> <a class="catg1_img" href="{{news.url}}"> <img src="{{news.urlToImage}}" alt=""> </a></div>
              <a class="catg_title" href="#"> {{news.title}}</a>
              <div class="sing_commentbox">
                <p><i class="fa fa-calendar"></i>{{news.publishedAt}}</p>
              </div>
              <p class="post-summary">{{news.description}}</p>
           </li>
          </ul>
        </div>
    </div>
</div>
</div>
          
             
